.sightings-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.image {
  width: 100%;
  height: 450px;
}

.sighting-list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  width: 96%;
}

.sighting-text {
  width: 33%;
}

.p1,
.p2 {
  color: #ffffff;
}

.p1 {
  font-size: 35px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 35px;
  font-style: normal;
}

.p2 {
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  margin-top: 30px;
}

.cardsight-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}
