.wrapper {
  padding: 10px;
  width: 200px;
  height: 50px;
}

.button-add {
  background: linear-gradient(270deg, #ecbcb3 0%, #eaa79e 100%);
  box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
  border-radius: 3px;
}
